ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Arial Narrow";
}
.symbol{
    padding: 6.5px 16px;
    font-size: 30px;
    font-family: "Arial Unicode MS";
    text-decoration: none;
}

a{
    text-decoration: none;
    cursor: pointer;
}

a, a:visited, .symbol:visited{
    color: black;
}

a a:active {
    color: black;
}

.search-container {
    float: right;
    padding: 10px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    width: 400px;
    font-family: "Arial Narrow";

}

.search-container form input[type=text]{
    float: left;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    height: 30px;
    width: 350px;
    font-size: 15pt;
    font-family: "Arial Narrow";
}

.search-container form button[type=submit] {
    float: left;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    height: 34px;
    width: 45px;
    font-family: "Arial Narrow";
}

.topnav {
    border-bottom: 4px solid black;
    border-bottom-style: outset;
    padding-bottom: 15px;

    /*border: 1px solid black;*/
}

body{
    background-color: beige;

}


/*
body {
  background: linear-gradient(to right, #1e5799 0%, #2ce0bf 19%, #76dd2c 40%, #dba62b 60%, #e02cbf 83%, #1e5799 100%);
  background-size: 10000px 100%;
  animation: bg 15s linear infinite;
}

@keyframes bg {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 10000px;
  }
}
*/




/*Displays button and formatting for button*/
.button {
  text-decoration: none;
/*  background-color: white;
  display: block;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  height: 4em;
  line-height: 4em;
  padding: 0 2em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;  */
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Arial Narrow";
  color: black;
}

/*Displays text on touch*/
.button:target {
  opacity: 1;
  visibility: visible;
  display: block;
}


.login-form {
  display: none;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 2em;
  border: 1px solid black;
  order: 1;
  z-index: 10;
  background-color:#fff;
  padding:0;
  width:400px
}


.button:before {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
}

.form-top {
  float: right;
  cursor: pointer;
}

.overlay {
  z-index: 3;
  display: none;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color:rgba(0,0,0,0.4)
}

.login-form-show{
  display: block;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 2em;
  border: 1px solid black;
  order: 1;
  z-index: 10;
  background-color:#fff;
  padding:0;
  width:400px
}

.error-message {
    color: crimson;
}

.footer{
    text-align: center;
    border-top: 4px solid black;
    border-top-style: outset;
    padding-top: 15px;
}